h1.title {
    width: 100%;
    max-width     : 600px;
    font-family   : "DG";
    font-weight   : normal;
    font-size     : 40px;
    letter-spacing: 2px;
    margin        : 0 auto 30px auto;
    color         : #eee;
}

@media screen and (max-width: 400px) {
    h1.title {
        font-size: 30px;
    }
}